::selection {
	background-color: lightgreen;
	color: black;
}

body {
	font-family: "Courier New";
	background-color: black;
	color: lightgreen;
}

@font-face {
	font-family: brick22;
	src: url(font.woff);
}

a {
	color: red;
}

div.container {
	font-family: "Courier New" brick22 serif;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

p.profiles>a::after {
	content: ' | '
}
